header {
    position: relative;
    background-color: #1a2434;
    width: 100%;
    height: 34px;
    
}

header ul {
    display: flex;
    margin-left: 13px;
}

header li {
    margin: 10px 0;
}

header a { 
    position: relative;
    font-size: 16px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}

header a:hover {
    background-color: #49505C;
    padding:7px 16px 6px 16px;
    transition: all .3s ease-in;
    
}
    
header a.active {
    background-color: #49505C;
    border-top: 3px solid #ff1541;
    padding:7px 16px 6px 16px;


}