.hero {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.hero-img img{
    position: relative;
    width: 100%;
    height: 550px;
    left: 0;
    transition: 2s;
}

.hero-img img:hover {
    transform: scale(1.3);
}

.hero .card {
    position: absolute;
    background: rgba(12, 19, 36, 0.9);
    right: 0;
    backdrop-filter: blur(5px);
    margin-top: -554px;
    width: 38%;
    height: 550px;
}

.hero-content {
    margin: 130px 40px;
}

.hero-content p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
    color: #ff1541;
} 

.hero-content h1 {
    font-size: 40px;
    margin: 15px 0;
    color: #f4f4f4;
}

.hero-content i {
    color: #ff1541;
    font-size: 30px;
}

